# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# meeting slides
meetings/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Large model objects
/output/

# Raw data
/data/raw/

# test scripts and old scripts
R/test_vbge_dist2.R
R/analysis/size_spectra_sensitivity.R
R/analysis/size_spectra.R
R/analysis/size_spectra_sensitivity.R
analysis/extract_equation_from_model_object.Rmd
analysis/extract_equation.Rmd

# Old drafts
drafts/old/

